asyncio==3.4.3
aiofiles
apscheduler
aiohttp>=2.2.5
alphabet-detector==0.0.7
bs4
bleach==5.0.0
beautifulsoup4==4.11.1
#profanity (By Gabi)
better-profanity==0.7.0
bing_image_downloader
cloudscraper==1.2.60
countryinfo
cachetools
CurrencyConverter
dateparser==1.0.0
dnspython
emoji==1.7.0
envparse==0.2.0
emoji-country-flag
future==0.18.2
fontTools
feedparser
ffmpeg-python
gtts
geopy
googletrans==4.0.0-rc1
google-trans-new==1.1.9
gpytranslate
hachoir
html2text
jikanpy==4.3.2
lxml
motor==2.3.1
markdown2>=2.4.0
nudepy
nltk
nekos.py==1.1.0
opencv-python-headless==4.5.5.64
psycopg2-binary
pynewtonmath
pykeyboard==0.1.5
pendulum
python-telegram-bot==13.15
psutil
Pillow>=4.2.0
pyrate-limiter==2.8.1
pyrogram==2.0.106
psutil
pytz
pySmartDL
python-arq==6.0.3
pretty_errors
# scanner requirements
PhoenixScanner==1.0.7
pymongo==3.12.3
regex
redis
requests==2.20.0
spamwatch
speedtest-cli
sqlalchemy==1.3.20
spongemock
search_engine_parser
secureme
telegraph==2.1.0
telethon==1.24.0
textblob
TgCrypto
tswift
uvloop
ujson
wget
wikipedia==1.4.0
zalgo-text
unidecode
shortuuid
asyncio==3.4.3
pretty_errors==1.2.25
search_engine_parser==0.6.8
secureme==0.0.4
bing_image_downloader==1.1.2
